body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDF5E6;
}

img {
    width: 80%;
    margin-bottom: 20px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FDF5E6;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    padding: 15px 0;
    width: 250px;
    margin-top: 4vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2E5669;
    font-size: 15px;
    font-weight: 600;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

select {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    color: #2E5669;
    font-size: 12px;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 90px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #FDF5E6;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

button[type="reset"] {
    background-color: #dc3545;
}

button[type="reset"]:hover {
    background-color: #b92c36;
}

footer {
    background: #4B8DAB;
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
}