<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <title>Chamados do Usuário</title>
</head>
<body>
    <h1>Fale conosco! </h1>
    <h2>Caro  <span th:text="${nome}"></span> preencha o formulario abaixo e entraremos em contato o mais breve possível</h2>
    <form action="/detalhes-chamado" method="GET">
        <label>Nome</label>
        <input type="text" id="nome" name="nome">
        <label>Selecione o setor</label>
        <select id="setor" name="setor">
            <option>Administrativo</option>
            <option>RH</option>
            <option>Comercial</option>
            <option>Opercaional</option>
        </select>
        <label>Data da criação do chamado: </label>
        <input type="date" name="data" id="data">
        <label>Selecione o grau de prioridade:</label>
        <select id="prioridade" name="prioridade">
            <option>Baixo</option>
            <option>Médio</option>
            <option>Alto</option>
            <option>Urgente</option>
        </select>
        <textarea id="solicitacao" name="solicitacao">Digite aqui sua solicitação </textarea>
        <br/>
        <label>Email: </label>
        <input type="text" id="email" name="email">
        <button>Enviar</button>
    </form>
</body>
</html>