<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <title>Chamados do Usuário</title>
</head>
<body>
<h1>Fale conosco! </h1>
<h2>Caro  <span th:text="${nome}"></span> preencha o formulario abaixo e entraremos em contato o mais breve possível</h2>
<form action="/detalhes-chamado" method="POST">
    <label>Titulo</label>
    <input id="titulo" name="titulo" type="text"/>
    <textarea id="descricao" name="descricao">Digite aqui sua solicitação </textarea>

    <label>Selecione o setor</label>
    <select id="setor" name="setor">
        <option>Adm</option>
        <option>RH</option>
        <option>sla</option>
        <option>teste</option>
    </select>
    <label>Selecione o grau de prioridade:</label>
    <select id="prioridade" name="prioridade">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
    <br/>
    <input type="text" name="nome" id="nome"/>
    <button>Enviar</button>
</form>
</body>
</html>