<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esta é a página do detalhe da solicitação</title>
</head>
<body>

<h1>Detalhes do chamado:</h1>
<form action="/pagina-usuario" method="GET">
    <p><strong>Nome:</strong> <span th:text="${chamado.getUsuario()}"></span></p>
    <p><strong>Data da Abertura:</strong> <span th:text="${chamado.DataInicio}"></span></p>
    <p><strong>Grau de Prioridade:</strong> <span th:text="${chamado.Prioridade}"></span></p>
    <p><strong>Dados da Solicitação:</strong> <span th:text="${chamado.Descricao}"></span></p>

    <button type="submit">Voltar</button>
</form>

</body>
</html>
