<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esta é a página do detalhe da solicitação</title>
</head>
<body>

<h1>Detalhes do chamado:</h1>
<form action="/pagina-usuario" method="GET">
    <label>Nome: </label><span th:text="${nome}"></span><br>
    <label>Setor: </label><span th:text="${chamado.setor.nome}"></span><br>
    <label>Data da abertura: </label> <span th:text="${chamado.DataInicio}"></span><br>
    <label>Grau de prioridade: </label> <span th:text="${chamado.Prioridade}"></span><br>
    <label>Dados da solicitação: </label> <span th:text="${chamado.Descricao}"></span><br>
    <h4><a th:href="'/pagina-usuario?nome=' + ${nome}">voltar</a></h4>

</form>

</body>
</html>
