<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de login técnico</title>
</head>
<body>
<h1>Esta é a página de login do técnico</h1>

<form action="/pagina-tecnico" method="GET">
    <label>Nome: </label>
    <input type="text" id="nome" name="nome">
    <br/>
    <label>Email: </label>
    <input type="text" id="email" name="email">
    <label>Senha: </label>
    <input type="password" id="password" name="password">
    <button>Logar</button>
</form>
</body>
</html>