<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login usuário</title>
</head>
<body>
    <h1>Realize seu login</h1>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <form action="/login-usuario" method="POST">
        <label>Email: </label>
        <input type="text" id="email" name="email" th:value="${email}">
        <label>Senha: </label>
        <input type="password" id="password" name="senha" th:value="${senha}">
        <button type="submit">Logar</button>
    </form>

</body>
</html>

